[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/refs/heads/*"]
	push = +force group Motorola Common Maintainers
	pushMerge = group Motorola Common Maintainers
[access "refs/heads/*"]
	create = group Motorola Common Maintainers
	label-Code-Review = -2..+2 group Motorola Common Maintainers
	label-Verified = -1..+1 group Motorola Common Maintainers
	push = +force group Motorola Common Maintainers
	pushMerge = group Motorola Common Maintainers
	submit = group Motorola Common Maintainers
